name: FetchId

on:
  schedule:
    - cron: '0 */12 * * *'
  workflow_dispatch:

jobs:
  fetch:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: get and parse id xmls
        shell: bash
        run: |
          fetch_sitemap() {
            local type=$1
            local output=$2
            local pattern=$3
            : > "$output"
            local i=0
            while true; do
              local url="https://anilist.co/sitemap/${type}-${i}.xml"
              echo "Processing $url"
              status=$(curl -o /dev/null -s -w "%{http_code}" "$url")
              if [ "$status" != "200" ]; then
                 break
              fi
              content=$(curl -s "$url")
              if [ "$type" == "articles" ]; then
                 echo "$content" | grep -Eo "$pattern" | cut -d/ -f2 | sed 's/.$//' >> "$output" || true
              elif [[ "$type" == "staff" || "$type" == "characters" ]]; then
                 echo "$content" | grep -Eo "$pattern" | cut -d/ -f2 >> "$output" || true
              else
                 echo "$content" | grep -Eo "$pattern" | grep -Eo '([0-9]+)' >> "$output" || true
              fi
              sleep 2
              ((i++))
            done
          }
          fetch_sitemap "manga" "manga_ids.txt" 'manga/([0-9]+)'
          fetch_sitemap "anime" "anime_ids.txt" 'anime/([0-9]+)'
          fetch_sitemap "staff" "staff_ids.txt" 'staff/([0-9]+)'
          fetch_sitemap "characters" "character_ids.txt" 'character/([0-9]+)'
          fetch_sitemap "articles" "articles_ids.txt" 'article/([^/]+)'

      - name: Commit files
        run: |
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git config user.name "github-actions[bot]"
          git add .
          if [ -n "$(git status --porcelain)" ]; then
            git commit -m "Update ids" -a
          else
            echo "No changes"
          fi

      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: ${{ github.ref }}
